[Unit]
Description=Aiden device services
Requires=aiden-userdata-migrate.service aiden-machine-id.service aiden-environment.service
Wants=aiden-zram.service aiden-swap.service aiden-media-modules.service
Wants=aiden-wifi-driver.service aiden-bluetooth-attach.service bluetooth.service
Wants=aiden-usb-gadget.service aiden-usb-dnsmasq.service aiden-usb-ecm-watchdog.service
Wants=aiden-frame.service aiden-audio.service aiden-ble.service aiden-agent.service
Wants=aiden-config-web.service aiden-ota-health-marker.service aiden-ota-health.service
Wants=aiden-adb-host.service
Wants=aiden-wlan-guard.service
After=aiden-userdata-migrate.service aiden-machine-id.service aiden-environment.service

[Install]
WantedBy=multi-user.target
