[Unit]
Description=Start the local Aiden adb host server
Requires=aiden-environment.service
After=aiden-environment.service aiden-media-modules.service
ConditionPathExists=/usr/bin/adb

[Service]
Type=oneshot
EnvironmentFile=/run/aiden/system.env
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/adb start-server
RemainAfterExit=yes
TimeoutStartSec=20s
StandardOutput=append:/var/log/adb/adb-startup.log
StandardError=append:/var/log/adb/adb-startup.log

[Install]
WantedBy=multi-user.target
