[Unit]
Description=Register Aiden platform glibc libraries
Requires=aiden-rootfs-grow.service
After=aiden-rootfs-grow.service
Before=aiden-environment.service aiden-media-modules.service aiden-wifi-driver.service
ConditionDirectoryNotEmpty=/usr/lib/aiden/platform/lib

[Service]
Type=oneshot
ExecStart=/sbin/ldconfig
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
